# Statoil/C-CORE Iceberg Classifier Challenge

Identifies if a remotely sensed target is a ship or iceberg.

## Project: Build a Iceberg Classifier using Deep Learning

[Kaggle Statoil Iceberg Classifier Challenge](https://www.kaggle.com/c/statoil-iceberg-classifier-challenge)

In [1]:
import pandas as pd 
import numpy as np 
import cv2 # Used to manipulated the images 
np.random.seed(1337) # The seed I used - pick your own or comment out for a random seed. A constant seed allows for better comparisons though

# Import Keras 
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten, Activation
from keras.layers import Conv2D, MaxPooling2D
from keras.callbacks import EarlyStopping, ModelCheckpoint, ReduceLROnPlateau
from keras.layers.normalization import BatchNormalization
from keras.optimizers import Adam

Using TensorFlow backend.

In [2]:
df_test = pd.read_json('../data/test.json')
#df_test.inc_angle = df_test.inc_angle.replace('na',0)

In [27]:
df_train = pd.read_json('../data/train.json') # this is a dataframe

In [28]:
df_train.describe()

        is_iceberg
count  1604.000000
mean      0.469451
std       0.499222
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       1.000000

In [39]:
angleall= df_train['inc_angle']
trna= df_train[df_train['inc_angle']=='na']
trnona= df_train[df_train['inc_angle']!='na']
tr0= df_train.copy()
tr0.inc_angle = tr0.inc_angle.replace('na',0)
ice = df_train[df_train['is_iceberg']==1]
ship = df_train[df_train['is_iceberg']==0]
ship.inc_angle = ship.inc_angle.replace('na',0)

C:\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [40]:
angleall.describe()
trna.describe()
trnona.describe()

        is_iceberg
count  1471.000000
mean      0.511897
std       0.500028
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [41]:
print(trnona['inc_angle'].mean(),tr0['inc_angle'].mean())

39.2687074779 36.012636346633414

In [42]:
print(ice['inc_angle'].mean())
print(ship['inc_angle'].mean())

39.2498205843
33.1482418331375

In [44]:
df_train.tail(2)

,band_1,band_2,id,inc_angle,is_iceberg
1602,"[-22.455633, -25.794661, -26.954567, -22.83354...","[-26.070356, -22.093737, -21.577662, -24.53376...",7f66bb44,na,0
1603,"[-19.909191, -20.678406, -20.208834, -18.42441...","[-24.44487, -24.956001, -27.722103, -26.078417...",9d8f326c,na,0

In [51]:
df_pl = pd.read_csv('../pl.txt')
df_pl.head()

         id  is_iceberg
0  92a51ffb           1
1  81a3328f           1
2  7370030a           1
3  a7bfd784           1
4  89dbe7f7           1

In [ ]:
pltrain = trnona
pltrain.shape
for id,angle in zip(df_test['id'],df_test['inc_angle']):
    for pid, pice in zip(df_pl['id'],df_pl['is_iceberg']):
        #print(pid,angle)
        if(pid==id and pice ==0):
            dd = df_test[df_test['id']==id]
            dd['is_ice_berg'] = pice
            #pltrain.append(dd)
            #print(pid,angle,pice)
            print(dd['id'],dd['inc_angle'])
#pltrain.shape